# Logistic Regression Implementation

Aim : Predict if the person makes over 50k or not.

Defining Libraries

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import isnan,col,count,when,trim

creating spark session

In [3]:
spark = SparkSession.builder.appName("LogisticRegression").config("spark.driver.bindAddress", "10.0.2.15").getOrCreate()

23/07/25 14:42:13 WARN Utils: Your hostname, UbuntuOS resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
23/07/25 14:42:13 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/07/25 14:42:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/07/25 14:42:27 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

Read Input Data CSV File

In [4]:
person_df = spark.read.csv("classification_2.csv",header=True,inferSchema=True)
person_df.show()

+---+-----------------+------+-------------+-------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+------+
|age|        workclass|fnlwgt|    education|education-num|      marital-status|        occupation|  relationship|               race|    sex|capital-gain|capital-loss|Hours-per-week|        native|salary|
+---+-----------------+------+-------------+-------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+------+
| 39|        State-gov| 77516|    Bachelors|           13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male|        2174|           0|            40| United-States| <=50K|
| 50| Self-emp-not-inc| 83311|    Bachelors|           13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|           0|           0|            13| United-States| <=50K|
| 38|          Private|215646|      HS-grad|            9|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|           0|           0|            40| United-States| <=50K|
| 53|          Private|234721|         11th|            7|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|           0|           0|            40| United-States| <=50K|
| 28|          Private|338409|    Bachelors|           13|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|           0|           0|            40|          Cuba| <=50K|
| 37|          Private|284582|      Masters|           14|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|           0|           0|            40| United-States| <=50K|
| 49|          Private|160187|          9th|            5| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|           0|           0|            16|       Jamaica| <=50K|
| 52| Self-emp-not-inc|209642|      HS-grad|            9|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|           0|           0|            45| United-States|  >50K|
| 31|          Private| 45781|      Masters|           14|       Never-married|    Prof-specialty| Not-in-family|              White| Female|       14084|           0|            50| United-States|  >50K|
| 42|          Private|159449|    Bachelors|           13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|        5178|           0|            40| United-States|  >50K|
| 37|          Private|280464| Some-college|           10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|           0|           0|            80| United-States|  >50K|
| 30|        State-gov|141297|    Bachelors|           13|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|           0|           0|            40|         India|  >50K|
| 23|          Private|122272|    Bachelors|           13|       Never-married|      Adm-clerical|     Own-child|              White| Female|           0|           0|            30| United-States| <=50K|
| 32|          Private|205019|   Assoc-acdm|           12|       Never-married|             Sales| Not-in-family|              Black|   Male|           0|           0|            50| United-States| <=50K|
| 40|          Private|121772|    Assoc-voc|           11|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|           0|           0|            40|             ?|  >50K|
| 34|          Private|245487|      7th-8th|            4|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|           0|           0|            45|        Mexico| <=50K|
| 25| Self-emp-not-inc|176756|      HS-grad|            9|       Never-married|   Farming-fishing|     Own-child|              White|   Male|           0|           0|            35| United-States| <=50K|
| 32|          Private|186824|      HS-grad|            9|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|           0|           0|            40| United-States| <=50K|
| 38|          Private| 28887|         11th|            7|  Married-civ-spouse|             Sales|       Husband|              White|   Male|           0|           0|            50| United-States| <=50K|
| 43| Self-emp-not-inc|292175|      Masters|           14|            Divorced|   Exec-managerial|     Unmarried|              White| Female|           0|           0|            45| United-States|  >50K|
+---+-----------------+------+-------------+-------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+------+
only showing top 20 rows

Describing dataset to get better insights

In [5]:
person_df.describe().show()

+-------+-----------------+------------+------------------+-------------+------------------+--------------+-----------------+------------+-------------------+-------+------------------+------------------+------------------+-----------+------+
|summary|              age|   workclass|            fnlwgt|    education|     education-num|marital-status|       occupation|relationship|               race|    sex|      capital-gain|      capital-loss|    Hours-per-week|     native|salary|
+-------+-----------------+------------+------------------+-------------+------------------+--------------+-----------------+------------+-------------------+-------+------------------+------------------+------------------+-----------+------+
|  count|            32561|       32561|             32561|        32561|             32561|         32561|            32561|       32561|              32561|  32561|             32561|             32561|             32561|      32561| 32561|
|   mean|38.58164675532078|        null|189778.36651208502|         null|  10.0806793403151|          null|             null|        null|               null|   null|1077.6488437087312|   87.303829734959|40.437455852092995|       null|  null|
| stddev|13.64043255358136|        null|105549.97769702224|         null|2.5727203320673935|          null|             null|        null|               null|   null|7385.2920848403455|402.96021864900126| 12.34742868173183|       null|  null|
|    min|               17|           ?|             12285|         10th|                 1|      Divorced|                ?|     Husband| Amer-Indian-Eskimo| Female|                 0|                 0|                 1|          ?| <=50K|
|    max|               90| Without-pay|           1484705| Some-college|                16|       Widowed| Transport-moving|        Wife|              White|   Male|             99999|              4356|                99| Yugoslavia|  >50K|
+-------+-----------------+------------+------------------+-------------+------------------+--------------+-----------------+------------+-------------------+-------+------------------+------------------+------------------+-----------+------+

Replace column names

In [6]:
# Rename specific columns using withColumnRenamed
person_df = person_df.withColumnRenamed("education-num", "education_num")
person_df = person_df.withColumnRenamed("marital-status", "marital_status")
person_df = person_df.withColumnRenamed("capital-gain", "capital_gain")
person_df = person_df.withColumnRenamed("capital-loss", "capital_loss")
person_df = person_df.withColumnRenamed("hours-per-week", "hours_per_week")

Display Structure of Dataset

In [7]:
person_df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- education_num: integer (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- capital_gain: integer (nullable = true)
 |-- capital_loss: integer (nullable = true)
 |-- hours_per_week: integer (nullable = true)
 |-- native: string (nullable = true)
 |-- salary: string (nullable = true)

Rows and columns count of Original Dataset

In [8]:
print(f"Rows:{person_df.count()},Columns:{len(person_df.columns)}")

Rows:32561,Columns:15

Trim the dataset to reduce dimentionality and work with important data

In [9]:
person_df = person_df.select("age","education","occupation","sex","capital_gain","capital_loss","hours_per_week","salary")
person_df.head(10)

[Row(age=39, education=' Bachelors', occupation=' Adm-clerical', sex=' Male', capital_gain=2174, capital_loss=0, hours_per_week=40, salary=' <=50K'),
 Row(age=50, education=' Bachelors', occupation=' Exec-managerial', sex=' Male', capital_gain=0, capital_loss=0, hours_per_week=13, salary=' <=50K'),
 Row(age=38, education=' HS-grad', occupation=' Handlers-cleaners', sex=' Male', capital_gain=0, capital_loss=0, hours_per_week=40, salary=' <=50K'),
 Row(age=53, education=' 11th', occupation=' Handlers-cleaners', sex=' Male', capital_gain=0, capital_loss=0, hours_per_week=40, salary=' <=50K'),
 Row(age=28, education=' Bachelors', occupation=' Prof-specialty', sex=' Female', capital_gain=0, capital_loss=0, hours_per_week=40, salary=' <=50K'),
 Row(age=37, education=' Masters', occupation=' Exec-managerial', sex=' Female', capital_gain=0, capital_loss=0, hours_per_week=40, salary=' <=50K'),
 Row(age=49, education=' 9th', occupation=' Other-service', sex=' Female', capital_gain=0, capital_loss=0, hours_per_week=16, salary=' <=50K'),
 Row(age=52, education=' HS-grad', occupation=' Exec-managerial', sex=' Male', capital_gain=0, capital_loss=0, hours_per_week=45, salary=' >50K'),
 Row(age=31, education=' Masters', occupation=' Prof-specialty', sex=' Female', capital_gain=14084, capital_loss=0, hours_per_week=50, salary=' >50K'),
 Row(age=42, education=' Bachelors', occupation=' Exec-managerial', sex=' Male', capital_gain=5178, capital_loss=0, hours_per_week=40, salary=' >50K')]

Rows and column count of Trimed Dataset

In [10]:
print(f"Rows:{person_df.count()},Columns:{len(person_df.columns)}")

Rows:32561,Columns:8

Display Column list

In [11]:
person_df.columns

['age',
 'education',
 'occupation',
 'sex',
 'capital_gain',
 'capital_loss',
 'hours_per_week',
 'salary']

# # Data PreProcessing

# Handle Missing Data

Remove rows with "?" values

In [12]:

for column_name in person_df.columns:
        person_df = person_df.filter(~col(column_name).contains("?"))

In [13]:
person_df.show(100)

+---+-------------+------------------+-------+------------+------------+--------------+------+
|age|    education|        occupation|    sex|capital_gain|capital_loss|hours_per_week|salary|
+---+-------------+------------------+-------+------------+------------+--------------+------+
| 39|    Bachelors|      Adm-clerical|   Male|        2174|           0|            40| <=50K|
| 50|    Bachelors|   Exec-managerial|   Male|           0|           0|            13| <=50K|
| 38|      HS-grad| Handlers-cleaners|   Male|           0|           0|            40| <=50K|
| 53|         11th| Handlers-cleaners|   Male|           0|           0|            40| <=50K|
| 28|    Bachelors|    Prof-specialty| Female|           0|           0|            40| <=50K|
| 37|      Masters|   Exec-managerial| Female|           0|           0|            40| <=50K|
| 49|          9th|     Other-service| Female|           0|           0|            16| <=50K|
| 52|      HS-grad|   Exec-managerial|   Male|           0|           0|            45|  >50K|
| 31|      Masters|    Prof-specialty| Female|       14084|           0|            50|  >50K|
| 42|    Bachelors|   Exec-managerial|   Male|        5178|           0|            40|  >50K|
| 37| Some-college|   Exec-managerial|   Male|           0|           0|            80|  >50K|
| 30|    Bachelors|    Prof-specialty|   Male|           0|           0|            40|  >50K|
| 23|    Bachelors|      Adm-clerical| Female|           0|           0|            30| <=50K|
| 32|   Assoc-acdm|             Sales|   Male|           0|           0|            50| <=50K|
| 40|    Assoc-voc|      Craft-repair|   Male|           0|           0|            40|  >50K|
| 34|      7th-8th|  Transport-moving|   Male|           0|           0|            45| <=50K|
| 25|      HS-grad|   Farming-fishing|   Male|           0|           0|            35| <=50K|
| 32|      HS-grad| Machine-op-inspct|   Male|           0|           0|            40| <=50K|
| 38|         11th|             Sales|   Male|           0|           0|            50| <=50K|
| 43|      Masters|   Exec-managerial| Female|           0|           0|            45|  >50K|
| 40|    Doctorate|    Prof-specialty|   Male|           0|           0|            60|  >50K|
| 54|      HS-grad|     Other-service| Female|           0|           0|            20| <=50K|
| 35|          9th|   Farming-fishing|   Male|           0|           0|            40| <=50K|
| 43|         11th|  Transport-moving|   Male|           0|        2042|            40| <=50K|
| 59|      HS-grad|      Tech-support| Female|           0|           0|            40| <=50K|
| 56|    Bachelors|      Tech-support|   Male|           0|           0|            40|  >50K|
| 19|      HS-grad|      Craft-repair|   Male|           0|           0|            40| <=50K|
| 39|      HS-grad|   Exec-managerial|   Male|           0|           0|            80| <=50K|
| 49|      HS-grad|      Craft-repair|   Male|           0|           0|            40| <=50K|
| 23|   Assoc-acdm|   Protective-serv|   Male|           0|           0|            52| <=50K|
| 20| Some-college|             Sales|   Male|           0|           0|            44| <=50K|
| 45|    Bachelors|   Exec-managerial|   Male|           0|        1408|            40| <=50K|
| 30| Some-college|      Adm-clerical|   Male|           0|           0|            40| <=50K|
| 22| Some-college|     Other-service|   Male|           0|           0|            15| <=50K|
| 48|         11th| Machine-op-inspct|   Male|           0|           0|            40| <=50K|
| 21| Some-college| Machine-op-inspct|   Male|           0|           0|            40| <=50K|
| 19|      HS-grad|      Adm-clerical| Female|           0|           0|            25| <=50K|
| 31| Some-college|             Sales|   Male|           0|           0|            38|  >50K|
| 48|   Assoc-acdm|    Prof-specialty|   Male|           0|           0|            40| <=50K|
| 31|          9th| Machine-op-inspct|   Male|           0|           0|            43| <=50K|
| 53|    Bachelors|    Prof-specialty|   Male|           0|           0|            40| <=50K|
| 24|    Bachelors|      Tech-support|   Male|           0|           0|            50| <=50K|
| 49|      HS-grad|      Adm-clerical| Female|           0|           0|            40| <=50K|
| 25|      HS-grad| Handlers-cleaners|   Male|           0|           0|            35| <=50K|
| 57|    Bachelors|    Prof-specialty|   Male|           0|           0|            40|  >50K|
| 53|      HS-grad| Machine-op-inspct|   Male|           0|           0|            38| <=50K|
| 44|      Masters|   Exec-managerial| Female|           0|           0|            40| <=50K|
| 41|    Assoc-voc|      Craft-repair|   Male|           0|           0|            40| <=50K|
| 29|    Assoc-voc|    Prof-specialty|   Male|           0|           0|            43| <=50K|
| 25| Some-college|   Exec-managerial| Female|           0|           0|            40| <=50K|
| 18|      HS-grad|     Other-service| Female|           0|           0|            30| <=50K|
| 47|  Prof-school|    Prof-specialty| Female|           0|        1902|            60|  >50K|
| 50|    Bachelors|   Exec-managerial|   Male|           0|           0|            55|  >50K|
| 47|      HS-grad|   Exec-managerial|   Male|           0|           0|            60| <=50K|
| 43| Some-college|      Tech-support|   Male|           0|           0|            40|  >50K|
| 46|      5th-6th| Machine-op-inspct|   Male|           0|           0|            40| <=50K|
| 35|    Assoc-voc|     Other-service|   Male|           0|           0|            40| <=50K|
| 41|      HS-grad|      Adm-clerical|   Male|           0|           0|            48| <=50K|
| 30|      HS-grad| Machine-op-inspct|   Male|        5013|           0|            40| <=50K|
| 30|    Bachelors|             Sales|   Male|        2407|           0|            40| <=50K|
| 48|      HS-grad|  Transport-moving|   Male|           0|           0|            40| <=50K|
| 42|    Doctorate|    Prof-specialty|   Male|           0|           0|            45|  >50K|
| 29| Some-college|      Tech-support|   Male|           0|           0|            58| <=50K|
| 36|      HS-grad|      Craft-repair|   Male|           0|           0|            40| <=50K|
| 28| Some-college|      Adm-clerical| Female|           0|           0|            40| <=50K|
| 53|      HS-grad|      Adm-clerical| Female|           0|           0|            40|  >50K|
| 49| Some-college|   Exec-managerial|   Male|           0|           0|            50|  >50K|
| 19| Some-college|    Prof-specialty|   Male|           0|           0|            32| <=50K|
| 31|    Bachelors|             Sales| Female|           0|           0|            40| <=50K|
| 29|    Bachelors|             Sales|   Male|           0|           0|            70|  >50K|
| 23| Some-college| Machine-op-inspct|   Male|           0|           0|            40| <=50K|
| 79| Some-college|    Prof-specialty|   Male|           0|           0|            20| <=50K|
| 27|      HS-grad|     Other-service|   Male|           0|           0|            40| <=50K|
| 40|   Assoc-acdm|      Adm-clerical|   Male|           0|           0|            40| <=50K|
| 18|         11th|     Other-service| Female|           0|           0|            22| <=50K|
| 31|      7th-8th|   Farming-fishing|   Male|           0|           0|            40| <=50K|
| 18|      HS-grad|             Sales|   Male|           0|           0|            30| <=50K|
| 52|    Bachelors|     Other-service|   Male|           0|           0|            40| <=50K|
| 46|      HS-grad|     Other-service| Female|           0|           0|            40| <=50K|
| 59|      HS-grad|             Sales|   Male|           0|           0|            48| <=50K|
| 44|      HS-grad|      Craft-repair| Female|       14344|           0|            40|  >50K|
| 53|      HS-grad|             Sales| Female|           0|           0|            35| <=50K|
| 49|      HS-grad|   Protective-serv|   Male|           0|           0|            40|  >50K|
| 33|      Masters|    Prof-specialty|   Male|           0|           0|            50| <=50K|
| 30|          9th|             Sales|   Male|           0|           0|            40| <=50K|
| 43|    Doctorate|    Prof-specialty| Female|           0|           0|            50|  >50K|
| 57|    Assoc-voc|    Prof-specialty|   Male|           0|           0|            40| <=50K|
| 37| Some-college|      Craft-repair| Female|           0|           0|            40| <=50K|
| 28| Some-college| Machine-op-inspct| Female|           0|           0|            25| <=50K|
| 30|      HS-grad|             Sales| Female|           0|        1573|            35| <=50K|
| 34|    Bachelors|   Protective-serv|   Male|           0|           0|            40|  >50K|
| 29| Some-college| Handlers-cleaners|   Male|           0|           0|            50| <=50K|
| 48|    Doctorate|    Prof-specialty|   Male|           0|        1902|            60|  >50K|
| 37| Some-college|             Sales|   Male|           0|           0|            48|  >50K|
| 48|   Assoc-acdm|   Exec-managerial| Female|           0|           0|            40| <=50K|
| 32|      HS-grad|     Other-service|   Male|           0|           0|            40| <=50K|
| 76|      Masters|   Exec-managerial|   Male|           0|           0|            40|  >50K|
| 44|    Bachelors|   Exec-managerial|   Male|       15024|           0|            60|  >50K|
| 47|      Masters|    Prof-specialty| Female|           0|           0|            50| <=50K|
| 20| Some-college|      Tech-support| Female|           0|           0|            40| <=50K|
+---+-------------+------------------+-------+------------+------------+--------------+------+
only showing top 100 rows

To validate if any column has value "?" after handling missing value

In [14]:
person_df.select([count(when(col(c) == '?', c)).alias(c) for c in person_df.columns]).show()

+---+---------+----------+---+------------+------------+--------------+------+
|age|education|occupation|sex|capital_gain|capital_loss|hours_per_week|salary|
+---+---------+----------+---+------------+------------+--------------+------+
|  0|        0|         0|  0|           0|           0|             0|     0|
+---+---------+----------+---+------------+------------+--------------+------+

In [15]:
person_df.count()

30718

In [16]:
person_df.show()

+---+-------------+------------------+-------+------------+------------+--------------+------+
|age|    education|        occupation|    sex|capital_gain|capital_loss|hours_per_week|salary|
+---+-------------+------------------+-------+------------+------------+--------------+------+
| 39|    Bachelors|      Adm-clerical|   Male|        2174|           0|            40| <=50K|
| 50|    Bachelors|   Exec-managerial|   Male|           0|           0|            13| <=50K|
| 38|      HS-grad| Handlers-cleaners|   Male|           0|           0|            40| <=50K|
| 53|         11th| Handlers-cleaners|   Male|           0|           0|            40| <=50K|
| 28|    Bachelors|    Prof-specialty| Female|           0|           0|            40| <=50K|
| 37|      Masters|   Exec-managerial| Female|           0|           0|            40| <=50K|
| 49|          9th|     Other-service| Female|           0|           0|            16| <=50K|
| 52|      HS-grad|   Exec-managerial|   Male|           0|           0|            45|  >50K|
| 31|      Masters|    Prof-specialty| Female|       14084|           0|            50|  >50K|
| 42|    Bachelors|   Exec-managerial|   Male|        5178|           0|            40|  >50K|
| 37| Some-college|   Exec-managerial|   Male|           0|           0|            80|  >50K|
| 30|    Bachelors|    Prof-specialty|   Male|           0|           0|            40|  >50K|
| 23|    Bachelors|      Adm-clerical| Female|           0|           0|            30| <=50K|
| 32|   Assoc-acdm|             Sales|   Male|           0|           0|            50| <=50K|
| 40|    Assoc-voc|      Craft-repair|   Male|           0|           0|            40|  >50K|
| 34|      7th-8th|  Transport-moving|   Male|           0|           0|            45| <=50K|
| 25|      HS-grad|   Farming-fishing|   Male|           0|           0|            35| <=50K|
| 32|      HS-grad| Machine-op-inspct|   Male|           0|           0|            40| <=50K|
| 38|         11th|             Sales|   Male|           0|           0|            50| <=50K|
| 43|      Masters|   Exec-managerial| Female|           0|           0|            45|  >50K|
+---+-------------+------------------+-------+------------+------------+--------------+------+
only showing top 20 rows

Binary Conversion of target label "salary"

In [17]:
unique_salaries_before = person_df.select("salary").distinct()
unique_salaries_before.show()

+------+
|salary|
+------+
|  >50K|
| <=50K|
+------+

Triming the spaces in the salary column

In [18]:
person_df = person_df.withColumn("salary", trim(col("salary")))

In [19]:
person_df.show()

+---+-------------+------------------+-------+------------+------------+--------------+------+
|age|    education|        occupation|    sex|capital_gain|capital_loss|hours_per_week|salary|
+---+-------------+------------------+-------+------------+------------+--------------+------+
| 39|    Bachelors|      Adm-clerical|   Male|        2174|           0|            40| <=50K|
| 50|    Bachelors|   Exec-managerial|   Male|           0|           0|            13| <=50K|
| 38|      HS-grad| Handlers-cleaners|   Male|           0|           0|            40| <=50K|
| 53|         11th| Handlers-cleaners|   Male|           0|           0|            40| <=50K|
| 28|    Bachelors|    Prof-specialty| Female|           0|           0|            40| <=50K|
| 37|      Masters|   Exec-managerial| Female|           0|           0|            40| <=50K|
| 49|          9th|     Other-service| Female|           0|           0|            16| <=50K|
| 52|      HS-grad|   Exec-managerial|   Male|           0|           0|            45|  >50K|
| 31|      Masters|    Prof-specialty| Female|       14084|           0|            50|  >50K|
| 42|    Bachelors|   Exec-managerial|   Male|        5178|           0|            40|  >50K|
| 37| Some-college|   Exec-managerial|   Male|           0|           0|            80|  >50K|
| 30|    Bachelors|    Prof-specialty|   Male|           0|           0|            40|  >50K|
| 23|    Bachelors|      Adm-clerical| Female|           0|           0|            30| <=50K|
| 32|   Assoc-acdm|             Sales|   Male|           0|           0|            50| <=50K|
| 40|    Assoc-voc|      Craft-repair|   Male|           0|           0|            40|  >50K|
| 34|      7th-8th|  Transport-moving|   Male|           0|           0|            45| <=50K|
| 25|      HS-grad|   Farming-fishing|   Male|           0|           0|            35| <=50K|
| 32|      HS-grad| Machine-op-inspct|   Male|           0|           0|            40| <=50K|
| 38|         11th|             Sales|   Male|           0|           0|            50| <=50K|
| 43|      Masters|   Exec-managerial| Female|           0|           0|            45|  >50K|
+---+-------------+------------------+-------+------------+------------+--------------+------+
only showing top 20 rows

# Conversion of Target label

Converting salary column values to binary

In [20]:
person_df = person_df.withColumn("salary", when(col("salary") == ">50K", 1).otherwise(0))

person_df.show()

+---+-------------+------------------+-------+------------+------------+--------------+------+
|age|    education|        occupation|    sex|capital_gain|capital_loss|hours_per_week|salary|
+---+-------------+------------------+-------+------------+------------+--------------+------+
| 39|    Bachelors|      Adm-clerical|   Male|        2174|           0|            40|     0|
| 50|    Bachelors|   Exec-managerial|   Male|           0|           0|            13|     0|
| 38|      HS-grad| Handlers-cleaners|   Male|           0|           0|            40|     0|
| 53|         11th| Handlers-cleaners|   Male|           0|           0|            40|     0|
| 28|    Bachelors|    Prof-specialty| Female|           0|           0|            40|     0|
| 37|      Masters|   Exec-managerial| Female|           0|           0|            40|     0|
| 49|          9th|     Other-service| Female|           0|           0|            16|     0|
| 52|      HS-grad|   Exec-managerial|   Male|           0|           0|            45|     1|
| 31|      Masters|    Prof-specialty| Female|       14084|           0|            50|     1|
| 42|    Bachelors|   Exec-managerial|   Male|        5178|           0|            40|     1|
| 37| Some-college|   Exec-managerial|   Male|           0|           0|            80|     1|
| 30|    Bachelors|    Prof-specialty|   Male|           0|           0|            40|     1|
| 23|    Bachelors|      Adm-clerical| Female|           0|           0|            30|     0|
| 32|   Assoc-acdm|             Sales|   Male|           0|           0|            50|     0|
| 40|    Assoc-voc|      Craft-repair|   Male|           0|           0|            40|     1|
| 34|      7th-8th|  Transport-moving|   Male|           0|           0|            45|     0|
| 25|      HS-grad|   Farming-fishing|   Male|           0|           0|            35|     0|
| 32|      HS-grad| Machine-op-inspct|   Male|           0|           0|            40|     0|
| 38|         11th|             Sales|   Male|           0|           0|            50|     0|
| 43|      Masters|   Exec-managerial| Female|           0|           0|            45|     1|
+---+-------------+------------------+-------+------------+------------+--------------+------+
only showing top 20 rows

# Encoding & Scaling

Type - Label Encoding \
Scaling - Standard Scaler

In [21]:
# Importing necessary encoding and scaling libraries
from pyspark.ml.feature import StringIndexer, VectorAssembler
from pyspark.ml import Pipeline
from pyspark.ml.feature import StandardScaler

Performing label encoding on categorial columns

In [22]:
# categorial columns to be converted
categorical_columns = ["education", "occupation", "sex"]

# Creating StringIndexer for each categorical column
indexers = [StringIndexer(inputCol=column, outputCol=column + "_index", handleInvalid="keep") for column in categorical_columns]

using pipeline to fit and transform on dataset

In [23]:
pipeline = Pipeline(stages=indexers)
preprocessed_data = pipeline.fit(person_df).transform(person_df)

preprocessed_data.show()

+---+-------------+------------------+-------+------------+------------+--------------+------+---------------+----------------+---------+
|age|    education|        occupation|    sex|capital_gain|capital_loss|hours_per_week|salary|education_index|occupation_index|sex_index|
+---+-------------+------------------+-------+------------+------------+--------------+------+---------------+----------------+---------+
| 39|    Bachelors|      Adm-clerical|   Male|        2174|           0|            40|     0|            2.0|             3.0|      0.0|
| 50|    Bachelors|   Exec-managerial|   Male|           0|           0|            13|     0|            2.0|             2.0|      0.0|
| 38|      HS-grad| Handlers-cleaners|   Male|           0|           0|            40|     0|            0.0|             8.0|      0.0|
| 53|         11th| Handlers-cleaners|   Male|           0|           0|            40|     0|            5.0|             8.0|      0.0|
| 28|    Bachelors|    Prof-specialty| Female|           0|           0|            40|     0|            2.0|             0.0|      1.0|
| 37|      Masters|   Exec-managerial| Female|           0|           0|            40|     0|            3.0|             2.0|      1.0|
| 49|          9th|     Other-service| Female|           0|           0|            16|     0|           10.0|             5.0|      1.0|
| 52|      HS-grad|   Exec-managerial|   Male|           0|           0|            45|     1|            0.0|             2.0|      0.0|
| 31|      Masters|    Prof-specialty| Female|       14084|           0|            50|     1|            3.0|             0.0|      1.0|
| 42|    Bachelors|   Exec-managerial|   Male|        5178|           0|            40|     1|            2.0|             2.0|      0.0|
| 37| Some-college|   Exec-managerial|   Male|           0|           0|            80|     1|            1.0|             2.0|      0.0|
| 30|    Bachelors|    Prof-specialty|   Male|           0|           0|            40|     1|            2.0|             0.0|      0.0|
| 23|    Bachelors|      Adm-clerical| Female|           0|           0|            30|     0|            2.0|             3.0|      1.0|
| 32|   Assoc-acdm|             Sales|   Male|           0|           0|            50|     0|            6.0|             4.0|      0.0|
| 40|    Assoc-voc|      Craft-repair|   Male|           0|           0|            40|     1|            4.0|             1.0|      0.0|
| 34|      7th-8th|  Transport-moving|   Male|           0|           0|            45|     0|            8.0|             7.0|      0.0|
| 25|      HS-grad|   Farming-fishing|   Male|           0|           0|            35|     0|            0.0|             9.0|      0.0|
| 32|      HS-grad| Machine-op-inspct|   Male|           0|           0|            40|     0|            0.0|             6.0|      0.0|
| 38|         11th|             Sales|   Male|           0|           0|            50|     0|            5.0|             4.0|      0.0|
| 43|      Masters|   Exec-managerial| Female|           0|           0|            45|     1|            3.0|             2.0|      1.0|
+---+-------------+------------------+-------+------------+------------+--------------+------+---------------+----------------+---------+
only showing top 20 rows

Vectoring the Numerical Columns

In [28]:
numerical_columns = ["age","capital_gain", "capital_loss", "hours_per_week"]

In [29]:
assemblers = [VectorAssembler(inputCols=[col], outputCol=col + "_vec") for col in numerical_columns]

Standard Scaler Implementation

In [30]:
scaler = [StandardScaler(inputCol=col + "_vec", outputCol=col + "_scaled") for col in numerical_columns]

Build a pipeling for indexing and scaling to perform on Numberical Columns

In [31]:
pipeline = Pipeline(stages=(assemblers+scaler))
preprocessed_data = pipeline.fit(preprocessed_data).transform(preprocessed_data)

preprocessed_data.show()

+---+-------------+------------------+-------+------------+------------+--------------+------+---------------+----------------+---------+-------+----------------+----------------+------------------+--------------------+--------------------+-------------------+---------------------+
|age|    education|        occupation|    sex|capital_gain|capital_loss|hours_per_week|salary|education_index|occupation_index|sex_index|age_vec|capital_gain_vec|capital_loss_vec|hours_per_week_vec|          age_scaled| capital_gain_scaled|capital_loss_scaled|hours_per_week_scaled|
+---+-------------+------------------+-------+------------+------------+--------------+------+---------------+----------------+---------+-------+----------------+----------------+------------------+--------------------+--------------------+-------------------+---------------------+
| 39|    Bachelors|      Adm-clerical|   Male|        2174|           0|            40|     0|            2.0|             3.0|      0.0| [39.0]|        [2174.0]|           [0.0]|            [40.0]|[2.9729626401141958]|[0.28994926881088...|              [0.0]| [3.3373988325588257]|
| 50|    Bachelors|   Exec-managerial|   Male|           0|           0|            13|     0|            2.0|             2.0|      0.0| [50.0]|           [0.0]|           [0.0]|            [13.0]| [3.811490564248969]|               [0.0]|              [0.0]| [1.0846546205816183]|
| 38|      HS-grad| Handlers-cleaners|   Male|           0|           0|            40|     0|            0.0|             8.0|      0.0| [38.0]|           [0.0]|           [0.0]|            [40.0]|[2.8967328288292165]|               [0.0]|              [0.0]| [3.3373988325588257]|
| 53|         11th| Handlers-cleaners|   Male|           0|           0|            40|     0|            5.0|             8.0|      0.0| [53.0]|           [0.0]|           [0.0]|            [40.0]| [4.040179998103907]|               [0.0]|              [0.0]| [3.3373988325588257]|
| 28|    Bachelors|    Prof-specialty| Female|           0|           0|            40|     0|            2.0|             0.0|      1.0| [28.0]|           [0.0]|           [0.0]|            [40.0]|[2.1344347159794226]|               [0.0]|              [0.0]| [3.3373988325588257]|
| 37|      Masters|   Exec-managerial| Female|           0|           0|            40|     0|            3.0|             2.0|      1.0| [37.0]|           [0.0]|           [0.0]|            [40.0]| [2.820503017544237]|               [0.0]|              [0.0]| [3.3373988325588257]|
| 49|          9th|     Other-service| Female|           0|           0|            16|     0|           10.0|             5.0|      1.0| [49.0]|           [0.0]|           [0.0]|            [16.0]|[3.7352607529639896]|               [0.0]|              [0.0]| [1.3349595330235302]|
| 52|      HS-grad|   Exec-managerial|   Male|           0|           0|            45|     1|            0.0|             2.0|      0.0| [52.0]|           [0.0]|           [0.0]|            [45.0]| [3.963950186818928]|               [0.0]|              [0.0]| [3.7545736866286785]|
| 31|      Masters|    Prof-specialty| Female|       14084|           0|            50|     1|            3.0|             0.0|      1.0| [31.0]|       [14084.0]|           [0.0]|            [50.0]| [2.363124149834361]|[1.8784017948171405]|              [0.0]|  [4.171748540698532]|
| 42|    Bachelors|   Exec-managerial|   Male|        5178|           0|            40|     1|            2.0|             2.0|      0.0| [42.0]|        [5178.0]|           [0.0]|            [40.0]| [3.201652073969134]|[0.6905967405256428]|              [0.0]| [3.3373988325588257]|
| 37| Some-college|   Exec-managerial|   Male|           0|           0|            80|     1|            1.0|             2.0|      0.0| [37.0]|           [0.0]|           [0.0]|            [80.0]| [2.820503017544237]|               [0.0]|              [0.0]| [6.6747976651176515]|
| 30|    Bachelors|    Prof-specialty|   Male|           0|           0|            40|     1|            2.0|             0.0|      0.0| [30.0]|           [0.0]|           [0.0]|            [40.0]|[2.2868943385493816]|               [0.0]|              [0.0]| [3.3373988325588257]|
| 23|    Bachelors|      Adm-clerical| Female|           0|           0|            30|     0|            2.0|             3.0|      1.0| [23.0]|           [0.0]|           [0.0]|            [30.0]|[1.7532856595545259]|               [0.0]|              [0.0]| [2.5030491244191193]|
| 32|   Assoc-acdm|             Sales|   Male|           0|           0|            50|     0|            6.0|             4.0|      0.0| [32.0]|           [0.0]|           [0.0]|            [50.0]|  [2.43935396111934]|               [0.0]|              [0.0]|  [4.171748540698532]|
| 40|    Assoc-voc|      Craft-repair|   Male|           0|           0|            40|     1|            4.0|             1.0|      0.0| [40.0]|           [0.0]|           [0.0]|            [40.0]|[3.0491924513991755]|               [0.0]|              [0.0]| [3.3373988325588257]|
| 34|      7th-8th|  Transport-moving|   Male|           0|           0|            45|     0|            8.0|             7.0|      0.0| [34.0]|           [0.0]|           [0.0]|            [45.0]| [2.591813583689299]|               [0.0]|              [0.0]| [3.7545736866286785]|
| 25|      HS-grad|   Farming-fishing|   Male|           0|           0|            35|     0|            0.0|             9.0|      0.0| [25.0]|           [0.0]|           [0.0]|            [35.0]|[1.9057452821244845]|               [0.0]|              [0.0]| [2.9202239784889725]|
| 32|      HS-grad| Machine-op-inspct|   Male|           0|           0|            40|     0|            0.0|             6.0|      0.0| [32.0]|           [0.0]|           [0.0]|            [40.0]|  [2.43935396111934]|               [0.0]|              [0.0]| [3.3373988325588257]|
| 38|         11th|             Sales|   Male|           0|           0|            50|     0|            5.0|             4.0|      0.0| [38.0]|           [0.0]|           [0.0]|            [50.0]|[2.8967328288292165]|               [0.0]|              [0.0]|  [4.171748540698532]|
| 43|      Masters|   Exec-managerial| Female|           0|           0|            45|     1|            3.0|             2.0|      1.0| [43.0]|           [0.0]|           [0.0]|            [45.0]|[3.2778818852541134]|               [0.0]|              [0.0]| [3.7545736866286785]|
+---+-------------+------------------+-------+------------+------------+--------------+------+---------------+----------------+---------+-------+----------------+----------------+------------------+--------------------+--------------------+-------------------+---------------------+
only showing top 20 rows

In [32]:
import pyspark.sql.functions as F

Replacing original columns with vector and scaled values

In [34]:
preprocessed_data = preprocessed_data.withColumn("education",F.col("education_index"))
preprocessed_data = preprocessed_data.withColumn("age",F.col("age_scaled"))
preprocessed_data = preprocessed_data.withColumn("occupation",F.col("occupation_index"))
preprocessed_data = preprocessed_data.withColumn("sex",F.col("sex_index"))
preprocessed_data = preprocessed_data.withColumn("capital_gain",F.col("capital_gain_scaled"))
preprocessed_data = preprocessed_data.withColumn("capital_loss",F.col("capital_loss_scaled"))
preprocessed_data = preprocessed_data.withColumn("hours-per_week",F.col("hours_per_week_scaled"))

preprocessed_data.show()

+--------------------+---------+----------+---+--------------------+------------+--------------+------+---------------+----------------+---------+-------+----------------+----------------+------------------+--------------------+--------------------+-------------------+---------------------+--------------------+
|                 age|education|occupation|sex|        capital_gain|capital_loss|hours_per_week|salary|education_index|occupation_index|sex_index|age_vec|capital_gain_vec|capital_loss_vec|hours_per_week_vec|          age_scaled| capital_gain_scaled|capital_loss_scaled|hours_per_week_scaled|      hours-per_week|
+--------------------+---------+----------+---+--------------------+------------+--------------+------+---------------+----------------+---------+-------+----------------+----------------+------------------+--------------------+--------------------+-------------------+---------------------+--------------------+
|[2.9729626401141958]|      2.0|       3.0|0.0|[0.28994926881088...|       [0.0]|            40|     0|            2.0|             3.0|      0.0| [39.0]|        [2174.0]|           [0.0]|            [40.0]|[2.9729626401141958]|[0.28994926881088...|              [0.0]| [3.3373988325588257]|[3.3373988325588257]|
| [3.811490564248969]|      2.0|       2.0|0.0|               [0.0]|       [0.0]|            13|     0|            2.0|             2.0|      0.0| [50.0]|           [0.0]|           [0.0]|            [13.0]| [3.811490564248969]|               [0.0]|              [0.0]| [1.0846546205816183]|[1.0846546205816183]|
|[2.8967328288292165]|      0.0|       8.0|0.0|               [0.0]|       [0.0]|            40|     0|            0.0|             8.0|      0.0| [38.0]|           [0.0]|           [0.0]|            [40.0]|[2.8967328288292165]|               [0.0]|              [0.0]| [3.3373988325588257]|[3.3373988325588257]|
| [4.040179998103907]|      5.0|       8.0|0.0|               [0.0]|       [0.0]|            40|     0|            5.0|             8.0|      0.0| [53.0]|           [0.0]|           [0.0]|            [40.0]| [4.040179998103907]|               [0.0]|              [0.0]| [3.3373988325588257]|[3.3373988325588257]|
|[2.1344347159794226]|      2.0|       0.0|1.0|               [0.0]|       [0.0]|            40|     0|            2.0|             0.0|      1.0| [28.0]|           [0.0]|           [0.0]|            [40.0]|[2.1344347159794226]|               [0.0]|              [0.0]| [3.3373988325588257]|[3.3373988325588257]|
| [2.820503017544237]|      3.0|       2.0|1.0|               [0.0]|       [0.0]|            40|     0|            3.0|             2.0|      1.0| [37.0]|           [0.0]|           [0.0]|            [40.0]| [2.820503017544237]|               [0.0]|              [0.0]| [3.3373988325588257]|[3.3373988325588257]|
|[3.7352607529639896]|     10.0|       5.0|1.0|               [0.0]|       [0.0]|            16|     0|           10.0|             5.0|      1.0| [49.0]|           [0.0]|           [0.0]|            [16.0]|[3.7352607529639896]|               [0.0]|              [0.0]| [1.3349595330235302]|[1.3349595330235302]|
| [3.963950186818928]|      0.0|       2.0|0.0|               [0.0]|       [0.0]|            45|     1|            0.0|             2.0|      0.0| [52.0]|           [0.0]|           [0.0]|            [45.0]| [3.963950186818928]|               [0.0]|              [0.0]| [3.7545736866286785]|[3.7545736866286785]|
| [2.363124149834361]|      3.0|       0.0|1.0|[1.8784017948171405]|       [0.0]|            50|     1|            3.0|             0.0|      1.0| [31.0]|       [14084.0]|           [0.0]|            [50.0]| [2.363124149834361]|[1.8784017948171405]|              [0.0]|  [4.171748540698532]| [4.171748540698532]|
| [3.201652073969134]|      2.0|       2.0|0.0|[0.6905967405256428]|       [0.0]|            40|     1|            2.0|             2.0|      0.0| [42.0]|        [5178.0]|           [0.0]|            [40.0]| [3.201652073969134]|[0.6905967405256428]|              [0.0]| [3.3373988325588257]|[3.3373988325588257]|
| [2.820503017544237]|      1.0|       2.0|0.0|               [0.0]|       [0.0]|            80|     1|            1.0|             2.0|      0.0| [37.0]|           [0.0]|           [0.0]|            [80.0]| [2.820503017544237]|               [0.0]|              [0.0]| [6.6747976651176515]|[6.6747976651176515]|
|[2.2868943385493816]|      2.0|       0.0|0.0|               [0.0]|       [0.0]|            40|     1|            2.0|             0.0|      0.0| [30.0]|           [0.0]|           [0.0]|            [40.0]|[2.2868943385493816]|               [0.0]|              [0.0]| [3.3373988325588257]|[3.3373988325588257]|
|[1.7532856595545259]|      2.0|       3.0|1.0|               [0.0]|       [0.0]|            30|     0|            2.0|             3.0|      1.0| [23.0]|           [0.0]|           [0.0]|            [30.0]|[1.7532856595545259]|               [0.0]|              [0.0]| [2.5030491244191193]|[2.5030491244191193]|
|  [2.43935396111934]|      6.0|       4.0|0.0|               [0.0]|       [0.0]|            50|     0|            6.0|             4.0|      0.0| [32.0]|           [0.0]|           [0.0]|            [50.0]|  [2.43935396111934]|               [0.0]|              [0.0]|  [4.171748540698532]| [4.171748540698532]|
|[3.0491924513991755]|      4.0|       1.0|0.0|               [0.0]|       [0.0]|            40|     1|            4.0|             1.0|      0.0| [40.0]|           [0.0]|           [0.0]|            [40.0]|[3.0491924513991755]|               [0.0]|              [0.0]| [3.3373988325588257]|[3.3373988325588257]|
| [2.591813583689299]|      8.0|       7.0|0.0|               [0.0]|       [0.0]|            45|     0|            8.0|             7.0|      0.0| [34.0]|           [0.0]|           [0.0]|            [45.0]| [2.591813583689299]|               [0.0]|              [0.0]| [3.7545736866286785]|[3.7545736866286785]|
|[1.9057452821244845]|      0.0|       9.0|0.0|               [0.0]|       [0.0]|            35|     0|            0.0|             9.0|      0.0| [25.0]|           [0.0]|           [0.0]|            [35.0]|[1.9057452821244845]|               [0.0]|              [0.0]| [2.9202239784889725]|[2.9202239784889725]|
|  [2.43935396111934]|      0.0|       6.0|0.0|               [0.0]|       [0.0]|            40|     0|            0.0|             6.0|      0.0| [32.0]|           [0.0]|           [0.0]|            [40.0]|  [2.43935396111934]|               [0.0]|              [0.0]| [3.3373988325588257]|[3.3373988325588257]|
|[2.8967328288292165]|      5.0|       4.0|0.0|               [0.0]|       [0.0]|            50|     0|            5.0|             4.0|      0.0| [38.0]|           [0.0]|           [0.0]|            [50.0]|[2.8967328288292165]|               [0.0]|              [0.0]|  [4.171748540698532]| [4.171748540698532]|
|[3.2778818852541134]|      3.0|       2.0|1.0|               [0.0]|       [0.0]|            45|     1|            3.0|             2.0|      1.0| [43.0]|           [0.0]|           [0.0]|            [45.0]|[3.2778818852541134]|               [0.0]|              [0.0]| [3.7545736866286785]|[3.7545736866286785]|
+--------------------+---------+----------+---+--------------------+------------+--------------+------+---------------+----------------+---------+-------+----------------+----------------+------------------+--------------------+--------------------+-------------------+---------------------+--------------------+
only showing top 20 rows

selecting specific columns for model building

In [36]:
columns = ["age","education","occupation","sex","capital_gain","capital_loss","hours_per_week","salary"]
person_df_one = preprocessed_data.select(*[col(c) for c in columns])
person_df_one.show()

+--------------------+---------+----------+---+--------------------+------------+--------------+------+
|                 age|education|occupation|sex|        capital_gain|capital_loss|hours_per_week|salary|
+--------------------+---------+----------+---+--------------------+------------+--------------+------+
|[2.9729626401141958]|      2.0|       3.0|0.0|[0.28994926881088...|       [0.0]|            40|     0|
| [3.811490564248969]|      2.0|       2.0|0.0|               [0.0]|       [0.0]|            13|     0|
|[2.8967328288292165]|      0.0|       8.0|0.0|               [0.0]|       [0.0]|            40|     0|
| [4.040179998103907]|      5.0|       8.0|0.0|               [0.0]|       [0.0]|            40|     0|
|[2.1344347159794226]|      2.0|       0.0|1.0|               [0.0]|       [0.0]|            40|     0|
| [2.820503017544237]|      3.0|       2.0|1.0|               [0.0]|       [0.0]|            40|     0|
|[3.7352607529639896]|     10.0|       5.0|1.0|               [0.0]|       [0.0]|            16|     0|
| [3.963950186818928]|      0.0|       2.0|0.0|               [0.0]|       [0.0]|            45|     1|
| [2.363124149834361]|      3.0|       0.0|1.0|[1.8784017948171405]|       [0.0]|            50|     1|
| [3.201652073969134]|      2.0|       2.0|0.0|[0.6905967405256428]|       [0.0]|            40|     1|
| [2.820503017544237]|      1.0|       2.0|0.0|               [0.0]|       [0.0]|            80|     1|
|[2.2868943385493816]|      2.0|       0.0|0.0|               [0.0]|       [0.0]|            40|     1|
|[1.7532856595545259]|      2.0|       3.0|1.0|               [0.0]|       [0.0]|            30|     0|
|  [2.43935396111934]|      6.0|       4.0|0.0|               [0.0]|       [0.0]|            50|     0|
|[3.0491924513991755]|      4.0|       1.0|0.0|               [0.0]|       [0.0]|            40|     1|
| [2.591813583689299]|      8.0|       7.0|0.0|               [0.0]|       [0.0]|            45|     0|
|[1.9057452821244845]|      0.0|       9.0|0.0|               [0.0]|       [0.0]|            35|     0|
|  [2.43935396111934]|      0.0|       6.0|0.0|               [0.0]|       [0.0]|            40|     0|
|[2.8967328288292165]|      5.0|       4.0|0.0|               [0.0]|       [0.0]|            50|     0|
|[3.2778818852541134]|      3.0|       2.0|1.0|               [0.0]|       [0.0]|            45|     1|
+--------------------+---------+----------+---+--------------------+------------+--------------+------+
only showing top 20 rows

In [37]:
columns = ["age","education","occupation","sex","hours_per_week","salary"]
person_df_two = preprocessed_data.select(*[col(c) for c in columns])
person_df_two.show()

+--------------------+---------+----------+---+--------------+------+
|                 age|education|occupation|sex|hours_per_week|salary|
+--------------------+---------+----------+---+--------------+------+
|[2.9729626401141958]|      2.0|       3.0|0.0|            40|     0|
| [3.811490564248969]|      2.0|       2.0|0.0|            13|     0|
|[2.8967328288292165]|      0.0|       8.0|0.0|            40|     0|
| [4.040179998103907]|      5.0|       8.0|0.0|            40|     0|
|[2.1344347159794226]|      2.0|       0.0|1.0|            40|     0|
| [2.820503017544237]|      3.0|       2.0|1.0|            40|     0|
|[3.7352607529639896]|     10.0|       5.0|1.0|            16|     0|
| [3.963950186818928]|      0.0|       2.0|0.0|            45|     1|
| [2.363124149834361]|      3.0|       0.0|1.0|            50|     1|
| [3.201652073969134]|      2.0|       2.0|0.0|            40|     1|
| [2.820503017544237]|      1.0|       2.0|0.0|            80|     1|
|[2.2868943385493816]|      2.0|       0.0|0.0|            40|     1|
|[1.7532856595545259]|      2.0|       3.0|1.0|            30|     0|
|  [2.43935396111934]|      6.0|       4.0|0.0|            50|     0|
|[3.0491924513991755]|      4.0|       1.0|0.0|            40|     1|
| [2.591813583689299]|      8.0|       7.0|0.0|            45|     0|
|[1.9057452821244845]|      0.0|       9.0|0.0|            35|     0|
|  [2.43935396111934]|      0.0|       6.0|0.0|            40|     0|
|[2.8967328288292165]|      5.0|       4.0|0.0|            50|     0|
|[3.2778818852541134]|      3.0|       2.0|1.0|            45|     1|
+--------------------+---------+----------+---+--------------+------+
only showing top 20 rows

# Model Building

Spliting dataset into train and test data

In [38]:
# Importing Pipeline and Model
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression
assembler = VectorAssembler(inputCols=['age', 'education', 'occupation', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week'],
                                    outputCol='features')
assembler_data = assembler.transform(person_df_one)

In [39]:
assembler_data.show()

+--------------------+---------+----------+---+--------------------+------------+--------------+------+--------------------+
|                 age|education|occupation|sex|        capital_gain|capital_loss|hours_per_week|salary|            features|
+--------------------+---------+----------+---+--------------------+------------+--------------+------+--------------------+
|[2.9729626401141958]|      2.0|       3.0|0.0|[0.28994926881088...|       [0.0]|            40|     0|[2.97296264011419...|
| [3.811490564248969]|      2.0|       2.0|0.0|               [0.0]|       [0.0]|            13|     0|[3.81149056424896...|
|[2.8967328288292165]|      0.0|       8.0|0.0|               [0.0]|       [0.0]|            40|     0|(7,[0,2,6],[2.896...|
| [4.040179998103907]|      5.0|       8.0|0.0|               [0.0]|       [0.0]|            40|     0|[4.04017999810390...|
|[2.1344347159794226]|      2.0|       0.0|1.0|               [0.0]|       [0.0]|            40|     0|[2.13443471597942...|
| [2.820503017544237]|      3.0|       2.0|1.0|               [0.0]|       [0.0]|            40|     0|[2.82050301754423...|
|[3.7352607529639896]|     10.0|       5.0|1.0|               [0.0]|       [0.0]|            16|     0|[3.73526075296398...|
| [3.963950186818928]|      0.0|       2.0|0.0|               [0.0]|       [0.0]|            45|     1|(7,[0,2,6],[3.963...|
| [2.363124149834361]|      3.0|       0.0|1.0|[1.8784017948171405]|       [0.0]|            50|     1|[2.36312414983436...|
| [3.201652073969134]|      2.0|       2.0|0.0|[0.6905967405256428]|       [0.0]|            40|     1|[3.20165207396913...|
| [2.820503017544237]|      1.0|       2.0|0.0|               [0.0]|       [0.0]|            80|     1|[2.82050301754423...|
|[2.2868943385493816]|      2.0|       0.0|0.0|               [0.0]|       [0.0]|            40|     1|(7,[0,1,6],[2.286...|
|[1.7532856595545259]|      2.0|       3.0|1.0|               [0.0]|       [0.0]|            30|     0|[1.75328565955452...|
|  [2.43935396111934]|      6.0|       4.0|0.0|               [0.0]|       [0.0]|            50|     0|[2.43935396111934...|
|[3.0491924513991755]|      4.0|       1.0|0.0|               [0.0]|       [0.0]|            40|     1|[3.04919245139917...|
| [2.591813583689299]|      8.0|       7.0|0.0|               [0.0]|       [0.0]|            45|     0|[2.59181358368929...|
|[1.9057452821244845]|      0.0|       9.0|0.0|               [0.0]|       [0.0]|            35|     0|(7,[0,2,6],[1.905...|
|  [2.43935396111934]|      0.0|       6.0|0.0|               [0.0]|       [0.0]|            40|     0|(7,[0,2,6],[2.439...|
|[2.8967328288292165]|      5.0|       4.0|0.0|               [0.0]|       [0.0]|            50|     0|[2.89673282882921...|
|[3.2778818852541134]|      3.0|       2.0|1.0|               [0.0]|       [0.0]|            45|     1|[3.27788188525411...|
+--------------------+---------+----------+---+--------------------+------------+--------------+------+--------------------+
only showing top 20 rows

In [40]:
train_data,test_data = assembler_data.randomSplit([0.8,0.2],seed=42)

In [41]:
train_data.show()

+--------------------+---------+----------+---+--------------------+------------+--------------+------+--------------------+
|                 age|education|occupation|sex|        capital_gain|capital_loss|hours_per_week|salary|            features|
+--------------------+---------+----------+---+--------------------+------------+--------------+------+--------------------+
|[1.2959067918446494]|      0.0|       3.0|0.0|               [0.0]|       [0.0]|            20|     0|(7,[0,2,6],[1.295...|
|[1.2959067918446494]|      0.0|       4.0|1.0|               [0.0]|       [0.0]|            20|     0|[1.29590679184464...|
|[1.2959067918446494]|      0.0|       5.0|0.0|               [0.0]|       [0.0]|            35|     0|(7,[0,2,6],[1.295...|
|[1.2959067918446494]|      0.0|       5.0|0.0|               [0.0]|       [0.0]|            40|     0|(7,[0,2,6],[1.295...|
|[1.2959067918446494]|      0.0|       9.0|0.0|               [0.0]|       [0.0]|            40|     0|(7,[0,2,6],[1.295...|
|[1.2959067918446494]|      1.0|       3.0|0.0|               [0.0]|       [0.0]|            20|     0|[1.29590679184464...|
|[1.2959067918446494]|      5.0|       0.0|0.0|               [0.0]|       [0.0]|            20|     0|(7,[0,1,6],[1.295...|
|[1.2959067918446494]|      5.0|       0.0|0.0|               [0.0]|       [0.0]|            40|     0|(7,[0,1,6],[1.295...|
|[1.2959067918446494]|      5.0|       0.0|1.0|               [0.0]|       [0.0]|            20|     0|[1.29590679184464...|
|[1.2959067918446494]|      5.0|       0.0|1.0|               [0.0]|       [0.0]|            20|     0|[1.29590679184464...|
|[1.2959067918446494]|      5.0|       1.0|0.0|               [0.0]|       [0.0]|            10|     0|[1.29590679184464...|
|[1.2959067918446494]|      5.0|       1.0|0.0|               [0.0]|       [0.0]|            16|     0|[1.29590679184464...|
|[1.2959067918446494]|      5.0|       1.0|0.0|               [0.0]|       [0.0]|            17|     0|[1.29590679184464...|
|[1.2959067918446494]|      5.0|       1.0|0.0|               [0.0]|       [0.0]|            20|     0|[1.29590679184464...|
|[1.2959067918446494]|      5.0|       1.0|0.0|               [0.0]|       [0.0]|            30|     0|[1.29590679184464...|
|[1.2959067918446494]|      5.0|       1.0|0.0|[0.07922256930711...|       [0.0]|            40|     0|[1.29590679184464...|
|[1.2959067918446494]|      5.0|       1.0|1.0|               [0.0]|       [0.0]|            15|     0|[1.29590679184464...|
|[1.2959067918446494]|      5.0|       3.0|0.0|               [0.0]|       [0.0]|            15|     0|[1.29590679184464...|
|[1.2959067918446494]|      5.0|       3.0|0.0|               [0.0]|       [0.0]|            40|     0|[1.29590679184464...|
|[1.2959067918446494]|      5.0|       3.0|1.0|               [0.0]|       [0.0]|             8|     0|[1.29590679184464...|
+--------------------+---------+----------+---+--------------------+------------+--------------+------+--------------------+
only showing top 20 rows

# Training the model

Using Logistic Regression

In [42]:
from pyspark.ml.classification import LogisticRegression

Implementing Logistic regression by passing features and label

In [43]:
classification = LogisticRegression(featuresCol="features",labelCol="salary")

classification_model = classification.fit(train_data)

result_data = classification_model.transform(test_data)

result_data.show()

+--------------------+---------+----------+---+--------------------+------------+--------------+------+--------------------+--------------------+--------------------+----------+
|                 age|education|occupation|sex|        capital_gain|capital_loss|hours_per_week|salary|            features|       rawPrediction|         probability|prediction|
+--------------------+---------+----------+---+--------------------+------------+--------------+------+--------------------+--------------------+--------------------+----------+
|[1.2959067918446494]|      0.0|       4.0|1.0|               [0.0]|       [0.0]|            20|     0|[1.29590679184464...|[4.11600031867852...|[0.98395211739413...|       0.0|
|[1.2959067918446494]|      1.0|       1.0|0.0|               [0.0]|       [0.0]|            16|     0|[1.29590679184464...|[2.72600616617521...|[0.93854387884635...|       0.0|
|[1.2959067918446494]|      5.0|       0.0|0.0|               [0.0]|       [0.0]|            15|     0|(7,[0,1,6],[1.295...|[2.60751899347829...|[0.93134392439007...|       0.0|
|[1.2959067918446494]|      5.0|       0.0|1.0|               [0.0]|       [0.0]|            40|     0|[1.29590679184464...|[2.77561314781683...|[0.94134368958603...|       0.0|
|[1.2959067918446494]|      5.0|       1.0|0.0|               [0.0]|       [0.0]|            35|     0|[1.29590679184464...|[1.99733666863469...|[0.88051716154607...|       0.0|
|[1.2959067918446494]|      5.0|       3.0|0.0|               [0.0]|       [0.0]|            16|     0|[1.29590679184464...|[2.99790967534507...|[0.95247960354963...|       0.0|
|[1.2959067918446494]|      5.0|       3.0|1.0|               [0.0]|       [0.0]|            15|     0|[1.29590679184464...|[4.14472211894356...|[0.98439939669803...|       0.0|
|[1.2959067918446494]|      5.0|       3.0|1.0|               [0.0]|       [0.0]|            32|     0|[1.29590679184464...|[3.50479092981206...|[0.97082377872311...|       0.0|
|[1.2959067918446494]|      5.0|       4.0|0.0|               [0.0]|       [0.0]|            20|     0|[1.29590679184464...|[2.99001552850759...|[0.95212101804668...|       0.0|
|[1.2959067918446494]|      5.0|       4.0|0.0|               [0.0]|       [0.0]|            20|     0|[1.29590679184464...|[2.99001552850759...|[0.95212101804668...|       0.0|
|[1.2959067918446494]|      5.0|       4.0|0.0|               [0.0]|       [0.0]|            20|     0|[1.29590679184464...|[2.99001552850759...|[0.95212101804668...|       0.0|
|[1.2959067918446494]|      5.0|       4.0|0.0|               [0.0]|       [0.0]|            30|     0|[1.29590679184464...|[2.61358541725377...|[0.93173081263750...|       0.0|
|[1.2959067918446494]|      5.0|       4.0|1.0|               [0.0]|       [0.0]|             8|     0|[1.29590679184464...|[4.55090109448530...|[0.98955261360845...|       0.0|
|[1.2959067918446494]|      5.0|       4.0|1.0|               [0.0]|       [0.0]|            12|     0|[1.29590679184464...|[4.40032904998377...|[0.98787550684132...|       0.0|
|[1.2959067918446494]|      5.0|       4.0|1.0|               [0.0]|       [0.0]|            15|     0|[1.29590679184464...|[4.28740001660762...|[0.98644564084705...|       0.0|
|[1.2959067918446494]|      5.0|       4.0|1.0|               [0.0]|       [0.0]|            20|     0|[1.29590679184464...|[4.09918496098071...|[0.98368442491544...|       0.0|
|[1.2959067918446494]|      5.0|       4.0|1.0|               [0.0]|       [0.0]|            35|     0|[1.29590679184464...|[3.53453979409997...|[0.97165471463203...|       0.0|
|[1.2959067918446494]|      5.0|       5.0|0.0|[0.07922256930711...|       [0.0]|            10|     0|[1.29590679184464...|[3.31656660880728...|[0.96499279065107...|       0.0|
|[1.2959067918446494]|      5.0|       5.0|1.0|               [0.0]|       [0.0]|            20|     0|[1.29590679184464...|[4.24186285864476...|[0.98582309736323...|       0.0|
|[1.2959067918446494]|      5.0|       5.0|1.0|               [0.0]|       [0.0]|            20|     0|[1.29590679184464...|[4.24186285864476...|[0.98582309736323...|       0.0|
+--------------------+---------+----------+---+--------------------+------------+--------------+------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

# Performance Matrices

ROC_AUC

In [44]:
# Importing the evaluator
from pyspark.ml.evaluation import BinaryClassificationEvaluator
  
# Calling the evaluator
res = BinaryClassificationEvaluator(rawPredictionCol='prediction',labelCol='salary')
  
# Evaluating the AUC on results
ROC_AUC = res.evaluate(result_data)

print(ROC_AUC)

0.6457431051426803

F1 Score

In [45]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
# Convert predicted labels and actual labels to the required format (Double type)
predictions = result_data.withColumn("prediction", result_data["prediction"].cast("double"))
predictions = result_data.withColumn("label", result_data["salary"].cast("double"))

# Evaluate the F1 score

evaluator = MulticlassClassificationEvaluator(metricName="f1")
f1_score = evaluator.evaluate(predictions)

print("F1 Score:", f1_score)

F1 Score: 0.7734794174649425

Accuracy

In [46]:
evaluator = MulticlassClassificationEvaluator(metricName="accuracy")
accuracy = evaluator.evaluate(predictions)

print("Accuracy:", accuracy)

Accuracy: 0.8011466011466012

In [ ]:
spark.stop()